

body{

	background-color:#FFFDF8;
    margin: 20px 50px;
   }
div{
	/*background-color:#62c977;*/
	margin:20px 40px;
	padding:10px;
	font-family: Californian FB;
	font-size:18px;
	
}
p{
	margin: 1px
}
h1{
	font-size:40px;
	font-family: 'Anton', sans-serif;
}
h2{
	font-size:20px;
	font-family: Algerian;
	color:black;
}
textarea{
	size:200px;


}