

body{

	background-color:green;
    margin: 20px 50px;
    background-image: url("http://4.bp.blogspot.com/_aIrU_NInAww/TS1L1rzuRWI/AAAAAAAAAi8/vz4ZHvpno68/s1600/Paisajesnaturales+%25282%2529.jpeg");
}
div{
	background-image: url("http://images.forwallpaper.com/files/thumbs/preview/66/661273__wallpaper-nature-landscapes-landscape-images_p.jpg");
	background-color:white;
	margin:20px 40px;
	padding:10px;
	font-family: Californian FB;
	font-size:18px;
	
}
p{
	margin: 1px
}
h1{
	font-size:40px;
	font-family: Algerian;
}
h2{
	font-size:30px;
	font-family: Algerian;
	color:red;
}
textarea{
	size:200px;


}